<div class="dfwpbanner">
    <img src="{{imgdr}}/icon-color.svg" alt="">
    <p><span>{{name}}</span></br><strong>{{presence_count}}</strong> Members Online</p>
    <a href="{{instant_invite}}">Join us!</a>
</div>
