<p>Online players</p>
<div class="dfwpbanner">
    <img src="{{imgdr}}/icon-color.svg" alt="">
    <p><strong>{{presence_count}}</strong> Members Online</p>
    <a href="{{instant_invite}}">Join us!</a>
</div>
